.ModalMapa{
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 55%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.08);
}

.button-close-modal {
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 1.8em;
    cursor: pointer;
    margin: 10px;
}

.modal-mkapaa-content {
    overflow-y: auto;
    overflow-x: hidden;
}


.button-salvar-edicao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

